---
import Layout from '../layouts/Layout.astro';
import { loadAllPosts } from '../lib/loader';
const runtime = Astro.locals.runtime as any;
const waitUntil = runtime.waitUntil;
const POSTS_PER_PAGE = 100;

const currentPage = parseInt(Astro.params?.page || "1", 10);
const fetchedPosts = await loadAllPosts(runtime.env.WORDPRESS_URL, runtime.env.KV, waitUntil);
const posts = fetchedPosts.slice((currentPage - 1) * POSTS_PER_PAGE, currentPage * POSTS_PER_PAGE)
const totalPages = Math.ceil(fetchedPosts.length / POSTS_PER_PAGE);
---
<Layout title="Welcome to Astro.">
  <main>
    <p>Powered by Astro</p>
    <h1 class="mb-12 text-xl font-bold">Posts</h1>
    <ul>
      {posts.map(post => (
        <li class="mb-8 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-12 dark:text-white">
          <a href={`/posts/${post.id}`}>{post.title.rendered}</a>
        </li>
      ))}
    </ul>
    <div>
      {[...Array(totalPages || 1)].map((_, i) => i + 1).map((page) => (
        <a
          class={`mr-4 ${ page === currentPage ? "text-black" : "text-blue-500" }`}
          href={`/${page}`}>{page}</a>
      ))}
    </div>
  </main>
</Layout>
